 * {
   box-sizing: border-box;
 }

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  width: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #000;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

/* HEADER */

.main-header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 5px solid #ff7500;
}

.site-logo:hover {
  opacity: 0.8;
}

.site-logo:active {
  opacity: 0.6;
}

.main-header-cantainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* NAVBAR */

.site-nav {
  margin-right: 32px;
}

.sitenav-actions {
  display: flex;
  align-items: center;
}

.site-nav-list {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.site-nav-link {
  padding-bottom: 4px;
}

.site-nav-link:hover {
  border-bottom: 3px solid #ff7500;
}

.site-nav-link:active {
  opacity: 0.6;
}

.site-nav-item:not(:last-child) {
  margin-right: 32px;
}

.site-nav-link {
  display: block;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
}

.site-nav-link:hover {
  color: #ff7500;
}

/* MAIN BUTTON */

.main-button {
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #ff7500;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0, 5px;
  line-height: 15px;
}

.main-button:hover {
  opacity: 0, 8;
}

.main-button:active {
  opacity: 0.6;
}

/* MAIN CONTENT */

  /* HERO */
.hero {
  background-color: #252420;
  color: #fff;
  height: 488px;
}

.hero-content-container {
  display: flex;
  justify-content: space-between;
}

.hero-content {
  width: 387px;
  margin-top: 80px;
  margin-bottom: 80px;
}

hr {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
  border: 0;
  display: inline-block;
  margin-bottom: 40px;
}

.hero-header {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 24px;
}
.hero-text {
  margin-bottom: 32px;
}
.hero-img {
  width: 510px;
  height: 510px;
  border-radius: 8px;
  margin-top: 40px;
  filter: drop-shadow(24px 24px 0px rgba(255, 117, 0, 0.6));
}
/* FEATURE*/

.main-hr {
  margin-top: 210px;
  margin-bottom: 24px;
  height: 4px;
  background-color: #ff7500;
  border: 0;
  display: inline-block;
}
.feature-heading {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: 0.5px;
  color: #000;
  margin-bottom: 72px;
}

.feature-title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.5px;
  color: #000;
}
.feature-items {
  list-style: none;
}
.feature-list {
  display: flex;
}
.feature-item {
  list-style: none;
  margin-bottom: 32px;
}
.feature-title {
  font-family: "Roboto Condensed", sans-serif;
  width: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.5px;
  color: #000;
  margin-bottom: 12px;
}
.feature-info {
  margin-bottom: 210px;
  margin-right: 66px;
}

  /* AKSIYA */

.aksiya {
 background-color:#252420;
  color: #fff;
 border-radius: 12px;
}

.aksiya-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.aksiya-content {
  width: 387px;
  margin-top: 64px;
  margin-bottom: 76px;
}

.aksiya-header {
  font-size: 40px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 120%;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 24px;
}

.aksiya-text {
  margin-bottom: 32px;
}

.aksiya-img {
  position: absolute;
  right: 64px;
  bottom: 64px;
  width: 440px;
  height: 440px;
  border-radius: 8px;
  border-bottom: 64px;
}
  /* FOOTER */


  .footer-div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 160px;
    }
  .footer-list {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;

  }
  .footer-item:not(:last-child) {
    margin-right: 24px;
  }

  .footer-hr {
    width: 1100px;
    height: 2px;
    background-color: rgba(37, 36, 32, 0.5);
    margin-top: 40px;
    margin-bottom: 64px;
  }
 .footer-action {
   display: flex;
   align-items: flex-start;
  margin-bottom: 56px;

 }
 
 .action-list {
   list-style: none;
   margin: 0px;
   padding: 0px;
 }

 .action-item:not(:last-child) {
  margin-right: 68px;
  margin-bottom: 16px;
}

 .action-link {
  text-decoration: none;
  color:#252420 ;
  font-size: 16px;
  line-height: 19px; 
 }

 .action-link:hover {
   opacity: 0.8;
   color: #ff7500;
 }

 .action-link:active {
   opacity: 0.6;
 }


 